#source_options{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px; /* Adds gap of 16px for both rows and columns */
}

img{
    width: auto;
    height: auto;
}

.circle {
    border:3px solid wheat;    
    height:150px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:150px;
}


  